<settings>
    <uuids>
        <uuid>
            <name>00002a6e-0000-1000-8000-00805f9b34fb</name>
            <sensor>Temperature</sensor>
            <location>ambience</location>
            <data_type>h</data_type>
            <field>1</field>
            <factor>0.01</factor>
            <unit>C</unit>
        </uuid>
        <uuid>
            <name>00002a6f-0000-1000-8000-00805f9b34fb</name>
            <sensor>Humidity</sensor>
            <location>ambience</location>
            <data_type>H</data_type>
            <field>2</field>
            <factor>0.01</factor>
            <unit>%</unit>
        </uuid>
        <uuid>
            <name>00002a6d-0000-1000-8000-00805f9b34fb</name>
            <sensor>Pressure</sensor>
            <location>ambience</location>
            <data_type>I</data_type>
            <field>3</field>
            <factor>0.1</factor>
            <unit>hPa</unit>
        </uuid>
        <uuid>
            <name>e0bbcb11-b2ff-9690-3842-5eabcdcb1ac2</name>
            <sensor>TVOC</sensor>
            <location>ambience</location>
            <data_type>H</data_type>
            <field>4</field>
            <factor>1</factor>
            <unit>ppm</unit>
        </uuid>
        <uuid>
            <name>00002a7b-0000-1000-8000-00805f9b34fb</name>
            <sensor>Dew Point</sensor>
            <location>ambience</location>
            <data_type>b</data_type>
            <field>5</field>
            <factor>1</factor>
            <unit>C</unit>
        </uuid>
        <uuid>
            <name>e0bbcb11-b2ff-9690-3842-5eabcdcb1ac0</name>
            <sensor>Cooler Temperature</sensor>
            <location>Cooler</location>
            <data_type>h</data_type>
            <field>6</field>
            <factor>0.01</factor>
            <unit>C</unit>
        </uuid>
    	<uuid>
            <name>e0bbcb11-b2ff-9690-3842-5eabcdcb1ac1</name>
            <sensor>Water tension</sensor>
            <location>ambience</location>
            <data_type>H</data_type>
            <field>7</field>
            <factor>1</factor>
            <unit>units</unit>
     	</uuid>
    </uuids>

    <api_keys>
        <user_api_key>N4AFCUMMDV8NGNIU</user_api_key>
    </api_keys>
    <thingspeak>
        <info_address>https://api.thingspeak.com/channels.json?api_key=</info_address>
        <create_channel_address>https://api.thingspeak.com/channels.json</create_channel_address>
        <post_address>https://api.thingspeak.com/update.json</post_address>
    </thingspeak>

</settings>
